.info {
  &-wrap {
    position: relative;
    padding-bottom: 250px;
    margin-bottom: -100px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 300px;
      background-color: white;
      z-index: -1;
      transform: skewY(-6deg);
      transform-origin: left bottom;
    }
  }

  &-container {
    @include flex($f-dir: column, $justify: center, $align: center);
    width: 100%;
    padding: 30px;
    background-color: white;

    & > {
      width: 100%;
    }
  }

  &-title,
  &-subtitle {
    color: #000000;
  }

  &-title {
    font-size: 38px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &-subtitle {
    padding: 0 50px 15px;
    margin-bottom: 50px;

    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    border-bottom: 1px solid #bbbbbb;
  }

  &-content {
    @include flex();
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 1.5;
    color: #727272;

    &_item {
      width: 50%;

      &:nth-child(odd) {
        padding-right: 15px;
      }
      &:nth-child(even) {
        padding-left: 15px;
      }
    }
  }

  &-timeline {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .info {
    &-wrap {
      position: relative;
      padding-bottom: 200px;
      margin-bottom: -70px;
    }

    &-container {
      padding: 15px;
    }

    &-title {
      margin-top: 30px;
      font-size: 28px;
    }

    &-subtitle {
      font-size: 14px;
      padding: 0 30px 5px;
      margin-bottom: 30px;
    }

    &-content {
      margin-bottom: 20px;
      flex-wrap: wrap;

      &_item {
        width: 100%;
        margin-bottom: 25px;

        &:nth-child(odd) {
          padding: 0;
        }

        &:nth-child(even) {
          padding: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .info {
    &-wrap {
      padding-bottom: 140px;
    }
  }
}

@media (max-width: 560px) {
  .info {
    &-wrap {
      padding-bottom: 80px;
    }
  }
}
