.team-members {
  &-container {
    position: relative;
    z-index: 100;

    display: flex;
    flex-direction: column;

    margin-top: 100px;
    padding: 50px 0 60px;
    background-color: black;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -150px;

      width: 100%;
      height: 150px;
      background-color: black;

      transform: skewY(-6deg);
      transform-origin: top right;
      z-index: -1;
    }
  }

  &_title {
    align-self: center;
    margin-bottom: 15px;

    font-size: 44px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  &_subtitle {
    align-self: center;
    padding: 0 30px 15px;
    margin-bottom: 50px;

    border-bottom: 1px solid white;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  &_filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &-item {
      margin: 5px 20px;
      padding: 5px 0;

      font-weight: bold;
      color: white;

      border: 0;
      border-bottom: 2px solid transparent;
      background-color: transparent;
      opacity: 0.6;

      transition: all 0.2s ease-in-out;

      &.active {
        opacity: 1;
        border-color: white;
      }
    }
  }

  &_actions {
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      padding: 10px 20px;

      font-weight: bold;
      color: white;

      border: 2px solid white;
      background-color: transparent;

      transition: all ease 0.2s;

      &:hover,
      &:focus,
      &:active {
        background-color: #ffffff2c;
      }
    }
  }

  &_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;

    &-item {
      width: 20%;
      height: 280px;

      &:last-child {
        &:hover,
        &:focus,
        &:active {
          .team-members_cell-info {
            left: -100% !important;
          }
        }
      }

      &:nth-child(5n) {
        .team-members_cell-info {
          right: 0;
        }
      }

      &:hover,
      &:focus,
      &:active {
        &:nth-child(5n) {
          .team-members_cell-info {
            left: unset;
            right: 100%;
          }
        }
      }
    }
  }

  &_cell {
    position: relative;

    width: 100%;
    height: 100%;
    filter: grayscale(100%);

    transition: filter 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      filter: grayscale(0%);
      cursor: pointer;

      z-index: 100;

      .team-members_cell-info {
        left: 100%;
      }
    }

    .lazy-load-image-background {
      width: 100%;
      height: 100%;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;

      object-fit: cover;

      z-index: 1;
    }

    &-info {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px;

      background-color: #e5eaee;
      z-index: -1;

      transition: all 0.2s ease;
    }

    &-title {
      margin-bottom: 10px;

      font-size: 18px;
      font-weight: bold;

      text-transform: capitalize;
    }

    &-subtitle {
      text-transform: capitalize;
    }
  }
}

@media (max-width: 992px) {
  .team-members {
    &-container {
      margin-top: 100px;
      padding: 30px 0 30px;

      &::after {
        top: -130px;
        height: 130px;
      }
    }

    &_title {
      margin-bottom: 15px;
      font-size: 32px;
    }

    &_subtitle {
      padding: 0 20px 10px;
      margin-bottom: 20px;
      font-size: 16px;
    }

    &_filters {
      margin-bottom: 15px;

      &-item {
        margin: 5px 15px;
      }
    }

    &_actions {
      &-item {
        padding: 10px 20px;
      }
    }

    &_images {
      margin-bottom: 30px;

      &-item {
        width: 20%;
        height: 170px;
      }
    }

    &_cell {
      &-title {
        margin-bottom: 8px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .team-members {
    &_title {
      font-size: 26px;
    }

    &_images {
      &-item {
        width: 33%;
        height: 120px;

        &:last-child {
          &:hover,
          &:focus,
          &:active {
            .team-members_cell-info {
              left: -100% !important;
            }
          }
        }

        &:hover,
        &:focus,
        &:active {
          &:nth-child(3n) {
            .team-members_cell-info {
              left: -100% !important;
            }
          }

          &:nth-child(5n) {
            .team-members_cell-info {
              right: 100%;
              left: unset;
            }
          }

          &:nth-child(5n) {
            .team-members_cell-info {
              left: 100%;
              right: unset;
            }
          }
        }
      }
    }
  }
}
