.page-container {
  max-width: $outer-container;
  margin: 0 auto;

  @include flex($justify: center);

  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.content-container {
  max-width: $inner-container;
  width: 100%;
}
